body{
    margin:0;
}
#root{
    margin:0;
    width: 100%;
}
.pageBloc{
    // padding-left: 15px;
    // padding-right: 15px;
    margin:0;
}

body {
   margin: 0;
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
 
  .homePage{
    margin: 0;
    width: 100%;
  }


.cardsContainer{
background: #F6F6F6; 
border-radius: 25px;
height: 30rem;
width:90%; 
margin: 1.5rem auto 1.5rem auto;
}

 h1, h2, h3, h4, h5 {
    margin: 0;
 }

 