 .carrouselPicture{
  position: relative;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto; 
  margin-bottom:1.5rem;
  height:27rem;
  width: 90%;

 }

  .carrouselPicture img{
    width: 100%; 
    height: 100%;
    border-radius: 28px;
    object-fit: cover;
}

  .left-chevron ,
  .right-chevron {
    position: absolute;
    top: 45%;
    bottom: 55%;
    cursor: pointer;
    z-index: 1;
    width: 1.8rem; 
    height: 3.3rem;
   fill:white;
  }
  
  .left-chevron {
    left: 20px;
  }
  
  .right-chevron {
    right: 20px;
  }
  
.carousel-counter{
  position: absolute; 
  bottom: 5px; 
  right: 50%; 
  left: 50%;
  color: white;
}

/* Media queries pour la version tablette */
@media (max-width: 1024px) {
  .carrouselPicture{
    height:15rem;
    width: 90%;
    margin-bottom: 2rem;
   }
}

/* Media queries pour la version mobile */
@media (max-width: 767px) {
  .carrouselPicture{
    height:15rem;
    width: 92%;
    margin: auto;
   }
   .carrouselPicture img{
    border-radius: 8px;
}
.left-chevron ,
.right-chevron {
  width: 0.9rem; 
  height: 1.6rem;

}
}

  