.aboutCollapseCards{
    width: 65%; 
    margin: auto;
} 

.collapsesContent {
    margin: 0 1rem; /* Ajoute une marge de 1rem à gauche et à droite */
  }

.collapsesBloc h1{
    position:relative; 
    background-color: var(--primary);
    font-size: 1.5rem; 
    margin: 1.5rem 1rem 0 1rem;
    padding: 0.7rem;
    border-radius: 6px;
    color: white;
    cursor: pointer;
} 
.collapsesBloc img{
    position: absolute; 
    right: 10px; 
    bottom: 18px;
}

.arrowRotate{
    transform: rotate(180deg);
    transition: transform 0.9s;
  }
  .reverse {
    transform: rotate(0deg);
    transition: transform 0.9s;
  }

  .collapsesText {
    width: 96.5%;
    height: auto; 
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary);
    text-align: start;
    padding: 0.85rem 0.7rem; 
    margin: 0 auto 1.5rem auto;
    background: #F6F6F6;
    border-radius: 6px;
  }
  

.lodgingCollapses{
    display: flex; 
    flex-direction: row;
    width: 100%;
} 

.lodgingCollapseCards{
    width: 45%;
    margin: auto;
}

