.aboutCollapseCards{
    width: 65%; 
    margin: auto;
} 

.collapse{
  width: 97%;
  margin:auto;
}
.collapsesBloc h1, .lodgingCollapses h1{
    position:relative; 
    background-color: var(--primary);
    width: 100%;
    font-size: 1.5rem; 
    margin: 1.5rem 0 0 0;
    padding: 0.3rem 0.7rem;
    border-radius: 6px;
    color: white;
    cursor: pointer;
} 
.collapsesBloc img, .lodgingCollapses img{
    position: absolute; 
    right: 10px; 
    bottom: 14px;
}

.arrowRotate{
    transform: rotate(180deg);
    transition: transform 0.9s;
  }
  .reverse {
    transform: rotate(0deg);
    transition: transform 0.9s;
  }

  .collapsesText {
    width:100%;
    height: auto; 
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary);
    text-align: start;
    padding: 0.85rem 0.7rem; 
    margin: 0 auto 1.5rem auto;
    background: #F6F6F6;
    border-radius: 6px;
  }
  

.lodgingCollapses{
 display: flex; 
 width: 92%; 
 margin-left: auto; 
 margin-right:auto;
} 

.lodgingCollapseCard{
  width: 50%; 
  padding: 0.85rem 1.3rem 0.85rem 0rem; 
}
.equipments{
  display: flex; 
  flex-direction:column; 
height: auto; 
margin: -0.5rem 2rem -0.5rem -2rem;
} 

.equipment{
  width: 90%; 
  margin-left: -1rem;
}

/* Media queries pour la version tablette */
@media (max-width: 1024px) {

  .aboutCollapseCards{
    width: 91%; 
    margin-left:3%;
} 

  .lodgingCollapseCard h1, .lodgingCollapseCard ul{
    font-size:1.2rem;
  } 
  .collapsesBloc img, .lodgingCollapses img{
    position: absolute; 
    right: 10px; 
    bottom: 10px;
}
}

/* Media queries pour la version mobile */
@media (max-width: 767px) {
  .aboutCollapseCards{
    width: 89.5%; 
    margin-left:2.5%;
} 

.collapsesBloc h1, .lodgingCollapses h1{
  font-size:0.9rem;
} 

.collapsesBloc img, .lodgingCollapses img{
  width: 1rem; 
  height: 1rem;
  right: 5px; 
  bottom: 7px;
}

.collapsesText {
  font-size: 0.9rem;
}

.lodgingCollapses{
  flex-direction: column;
  width: 95%; 
  margin: -1rem 0 2rem 0;
 } 

 .lodgingCollapseCard{
  width: auto;
  margin:0 0 -2rem 1rem;
  
}

.equipments{
  flex-wrap: wrap;
}

}