.aboutCollapseCards{
    width: 65%; 
    margin: auto;
} 

.collapsesContent {
    margin: 0 1rem; 
}

.collapsesBloc h1, .lodgingCollapses h1{
    position:relative; 
    background-color: var(--primary);
    font-size: 1.5rem; 
    margin: 1.5rem 1rem 0 1rem;
    padding: 0.3rem 0.9rem;
    border-radius: 6px;
    color: white;
    cursor: pointer;
} 
.collapsesBloc img, .lodgingCollapses img{
    position: absolute; 
    right: 10px; 
    bottom: 14px;
}

.arrowRotate{
    transform: rotate(180deg);
    transition: transform 0.9s;
  }
  .reverse {
    transform: rotate(0deg);
    transition: transform 0.9s;
  }

  .collapsesText {
    width: 96.5%;
    height: auto; 
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary);
    text-align: start;
    padding: 0.85rem 0.7rem; 
    margin: 0 auto 1.5rem auto;
    background: #F6F6F6;
    border-radius: 6px;
  }
  

.lodgingCollapses{
 display: flex; 
 width: 93%; 
 margin: auto;
} 

.lodgingCollapseCard{
  width: 50%;
}


/* Media queries pour la version mobile */
@media (max-width: 767px) {
  .aboutCollapseCards{
    width: 100%; 
} 

.collapsesBloc h1, .lodgingCollapses h1{
  font-size:0.9rem;
} 

.collapsesBloc img, .lodgingCollapses img{
  width: 1rem; 
  height: 1rem;
  right: 5px; 
  bottom: 7px;
}

.collapsesText {
  font-size: 0.9rem;
}

.lodgingCollapses{
  display: flex; 
  flex-direction: column;
  width: 100%; 
  margin-top: -1rem;
  margin-bottom: 3.2rem;
 } 

 .lodgingCollapseCard{
  width: 100%;
}
}