footer {
   
    margin: auto;
    padding: 4.2rem ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: bolder;
    background-color: black; 
 } 

 .footerImg{
    width: 125px;
    margin-left: auto;
    margin-right: auto;
 
 }