.lodgingPage{
    width: 95%; 
    margin: auto;
}

.lodgingSelected{
    margin: 0 auto 2rem 3.6rem;
    width: 90%;
    color: var(--primary);
}

.lodgingSelected h1{
  font-weight: bolder;  
  font-size: 2rem;
} 
.lodgingBloc{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items:baseline;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    font-weight: bolder;
}

.tag{
    color: white; 
    background-color: var(--primary);
    padding: 0.3rem 1rem 1.3rem 1rem;
    font-size: 1rem; 
    width: 10rem;
    height: 0.2rem; 
    border-radius: 11px;
    text-align: center;
    margin: 5px;
} 

.hostDatas {
    display: flex;
    align-items:center;
    font-size: 1.1rem;
    margin-right: 0px;
    margin-bottom: 0.9rem;
  }
  
  .hostDatas--name{
    font-weight: 500;
    width: 83px;
    text-align:right;
  }
  
  .hostDatas img {
   margin-left: 15px;
    border-radius: 50%;
    height: 64px;
    width: 64px;
  }

.rating img {
    width: 1.5rem; 
    height: 1.5rem;
    margin-left: 12px;
}
/* Media queries pour la version mobile */
@media (max-width: 767px) {

.lodgingSelected{
        margin: 3rem 1rem 0rem 1rem;
        width: 90%;
    }

.lodgingSelected h1{
    font-size: 1.1rem;
  } 

  .lodgingSelected p{
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
.tags{
    margin-bottom: -1em;
}
  .tag{
    color: white; 
    background-color: var(--primary);
    padding: 0.25rem 0.95rem 0.75rem 0.95rem;
    margin-top: 0.7em;
    font-size: 0.55rem; 
    width: 6rem;
    height: 0.1rem; 
    border-radius: 5px; 
} 

  .lodgingBloc{
    display: flex;
    flex-direction: column; 
    margin-bottom: -1.5em;
}

.hostDatasBloc{
    display: flex; 
    flex-direction: row-reverse;
    width: 90%;
}

.hostDatas {
    font-size: 0.9rem;
    margin: 0.5rem -2.6em 0 10.5rem; 
  }
  
  .hostDatas--name{
    font-weight: 500;
    margin-right:-0.7em;
    width:60px;
  }
  
  .hostDatas img {
    height: 32px;
    width: 32px;
  }

.rating{
    margin-right: 0.5rem;
}  
.rating img {
    width: 0.65rem; 
    height: 0.65rem;
    margin-top: 2rem;
    margin-left: 1px;
}

}